@media screen and (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: right 0.4s ease-in-out;
    margin-top: 0;
    z-index: 100;
  }

  .nav-links.show {
    right: 0;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .hamburger {
    display: block;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 1100;
  }

  .info {
    margin-bottom: 2em;
  }

  .card {
    padding: 10px;
  }

  #profile {
    margin-top: 5rem;
  }

  #projects {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .project-card {
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    width: 90%;
    margin: 0 auto;
  }

  .about-containers {
    gap: 1rem;
  }

  .details-container {
    padding: 1rem;
  }

  .contact-container {
    width: 90%;
  }

  .form-row {
    flex-direction: column;
  }

  .contact-button {
    width: 40%;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  .container {
    display: grid;
  }
}

@media screen and (max-width: 1024px) {
  #profile {
    margin-top: 6rem;
  }
}